
@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

body{

    background-color: #73f894;
    
}

header{
    text-align: center;
    background-image: linear-gradient( to right,#025959,#027333 );
    border: 3px solid #012340;
    margin: 0px 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.384);
    padding: 10px 10px 10px 10px;
}


header > h1{
    font-family: Arial, Helvetica, sans-serif;

}

menu{
    background-color: #025959;
    border: 0px solid black;
    margin: 0px -1px ;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

menu > a{
    text-decoration: none;
    color: #08ec6b;
    margin: 30px 30px 30px 30px;
    padding: 10px;

}
main{
    background-color: white;
    text-align: center;
    
    border: 5px solid black;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
    
    min-width: 300;
    max-width: 1000;
}

main img{
    
    margin:auto;
}

main > p{
    text-align: justify;
    text-indent: 30px;
}

main > h1,h2{
    font-family: idroid;
    text-align: justify;
    text-indent: 20px;
}
main > h2{
    background: #03A63C;
}
div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
}

div2{
    text-align: center;
}

footer{
    background-color: #ffffff;
    margin: 80px 80px 80px 80px;
    border: 5px solid black;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
}
footer > h1{
    font-family: idroid;
    color: #03e753;
    text-indent: 20px;
}

footer > p{
     text-align: justify;
     text-indent: 20px;
}

ol.especial{
    text-align: center;
}



